[Unit]
Description=Run NAS_Jetson_Nano storage health check every 6 hours
Documentation=https://github.com/AlexeyBorovskoy/NAS_Jetson_Nano

[Timer]
OnBootSec=5min
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target