[Unit]
Description=NAS_Jetson_Nano — ночью качалка без лимита

[Service]
Type=oneshot
User=admin
ExecStart=/bin/bash /home/admin/nasa/scripts/downloads/aria2_speed.sh night
