[Unit]
Description=NAS_Jetson_Nano DuckDNS IP Update
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/nas_jetson_nano-monitor/ddns.env
ExecStart=/home/admin/nas_jetson_nano/scripts/network/ddns_duckdns.sh
