IMMICH_VERSION=release
IMMICH_ML_IMAGE=ghcr.io/immich-app/immich-machine-learning:release-cuda
# CPU fallback if CUDA fails:
# IMMICH_ML_IMAGE=ghcr.io/immich-app/immich-machine-learning:release
IMMICH_ML_PORT=3003
IMMICH_ML_HOST_BIND=0.0.0.0
TZ=Europe/Moscow
MACHINE_LEARNING_WORKERS=1
MACHINE_LEARNING_WORKER_TIMEOUT=300
